This program uses annual returns and annual risks to create or build a portfolio

In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import math

In [3]:
#Load data
df_dow = pd.read_csv(r"Data\dow_raw_data.csv", index_col = 0)

In [4]:
df_dow

,AAPL,AMGN,AMZN,AXP,BA,CAT,CRM,CSCO,CVX,DIS,...,MMM,MRK,MSFT,NKE,PG,TRV,UNH,V,VZ,WMT
2019-08-30,50.496521,179.322464,88.814499,112.236336,359.836639,106.177750,155.380219,40.058624,94.287216,135.374756,...,110.107887,70.410072,131.676971,79.975677,106.216545,130.527527,216.397675,174.584229,44.368084,35.255428
2019-09-03,49.761093,176.657791,89.491997,109.653526,350.279633,104.420013,152.054962,39.793324,93.125816,134.437805,...,108.010864,70.556641,129.938583,80.136566,107.214828,131.069305,213.271881,173.020065,44.276546,35.372673
2019-09-04,50.605362,177.345474,90.030998,110.399460,352.364960,106.266975,151.786179,40.495060,93.910767,135.996109,...,108.984474,70.068069,131.457291,81.726624,108.849205,133.369736,209.674515,175.501450,44.383354,35.764538
2019-09-05,51.594780,178.488663,92.036003,112.516060,356.090912,109.737823,153.090378,41.436420,94.223137,136.933044,...,111.816849,70.108788,133.768723,83.685783,108.451660,134.773071,212.319382,178.359344,44.696114,35.619526
2019-09-06,51.589939,178.557404,91.675499,112.068481,358.759369,109.479088,150.402313,41.795826,94.719704,137.633316,...,111.619385,70.491508,132.861328,83.941338,108.548836,135.750046,211.773758,179.334518,45.054668,35.400444
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-08-23,226.839996,328.799988,177.039993,251.300003,174.960007,348.410004,263.586182,50.740002,147.619995,90.559998,...,129.850006,115.825081,416.790009,83.676758,169.169998,220.853973,582.444702,267.440002,41.209999,75.699997
2024-08-26,227.179993,326.779999,175.500000,253.880005,173.479996,351.160004,264.864166,50.790001,148.500000,91.779999,...,131.850006,115.497269,413.489990,83.905731,170.350006,221.809784,585.055420,268.209991,41.490002,76.029999
2024-08-27,228.029999,326.929993,173.119995,255.029999,173.050003,351.119995,263.785889,50.709999,146.949997,90.900002,...,131.399994,115.725746,413.839996,84.911255,169.250000,222.666046,585.274597,270.720001,41.450001,76.129997
2024-08-28,226.490005,329.489990,170.800003,257.089996,170.710007,348.200012,258.494171,49.849998,146.000000,89.489998,...,131.610001,116.619766,410.600006,82.422356,169.059998,223.422729,586.460388,269.190002,41.490002,76.080002
2024-08-29,229.789993,331.010010,172.119995,259.839996,172.259995,351.640015,256.607147,50.389999,147.419998,89.809998,...,132.910004,116.679359,413.119995,82.890266,170.029999,225.344330,589.479736,274.320007,41.250000,76.419998

In [5]:
#calculate the daily return column rise, over each day using log return()
# log return account for compounding and can be used statistically
df_dow_log_returns = np.log(df_dow / df_dow.shift(1))
print(df_dow_log_returns)

                AAPL      AMGN      AMZN       AXP        BA       CAT  \
2019-08-30       NaN       NaN       NaN       NaN       NaN       NaN
2019-09-03 -0.014671 -0.014971  0.007599 -0.023281 -0.026918 -0.016693
2019-09-04  0.016824  0.003885  0.006005  0.006780  0.005936  0.017533
2019-09-05  0.019363  0.006425  0.022026  0.018991  0.010519  0.032140
2019-09-06 -0.000094  0.000385 -0.003925 -0.003986  0.007466 -0.002361
...              ...       ...       ...       ...       ...       ...
2024-08-23  0.010236  0.013072  0.005153  0.014187  0.012654  0.017517
2024-08-26  0.001498 -0.006162 -0.008737  0.010214 -0.008495  0.007862
2024-08-27  0.003735  0.000459 -0.013654  0.004519 -0.002482 -0.000114
2024-08-28 -0.006776  0.007800 -0.013492  0.008045 -0.013614 -0.008351
2024-08-29  0.014465  0.004603  0.007699  0.010640  0.009039  0.009831

                 CRM      CSCO       CVX       DIS  ...       MMM       MRK  \
2019-08-30       NaN       NaN       NaN       NaN  ...       NaN       NaN
2019-09-03 -0.021633 -0.006645 -0.012394 -0.006945  ... -0.019229  0.002079
2019-09-04 -0.001769  0.017481  0.008394  0.011525  ...  0.008974 -0.006949
2019-09-05  0.008556  0.022980  0.003321  0.006866  ...  0.025657  0.000581
2019-09-06 -0.017715  0.008636  0.005256  0.005101  ... -0.001768  0.005444
...              ...       ...       ...       ...  ...       ...       ...
2024-08-23  0.020705  0.010301  0.012886  0.007092  ...  0.015049  0.000429
2024-08-26  0.004837  0.000985  0.005944  0.013382  ...  0.015285 -0.002834
2024-08-27 -0.004079 -0.001576 -0.010493 -0.009634  ... -0.003419  0.001976
2024-08-28 -0.020265 -0.017105 -0.006486 -0.015633  ...  0.001597  0.007696
2024-08-29 -0.007327  0.010774  0.009679  0.003569  ...  0.009829  0.000511

                MSFT       NKE        PG       TRV       UNH         V  \
2019-08-30       NaN       NaN       NaN       NaN       NaN       NaN
2019-09-03 -0.013290  0.002010  0.009355  0.004142 -0.014550 -0.009000
2019-09-04  0.011620  0.019648  0.015129  0.017399 -0.017011  0.014240
2019-09-05  0.017430  0.023689 -0.003659  0.010467  0.012535  0.016153
2019-09-06 -0.006806  0.003049  0.000896  0.007223 -0.002573  0.005453
...              ...       ...       ...       ...       ...       ...
2024-08-23  0.002980  0.007644 -0.005776  0.018014  0.009955 -0.001868
2024-08-26 -0.007949  0.002733  0.006951  0.004318  0.004472  0.002875
2024-08-27  0.000846  0.011913 -0.006478  0.003853  0.000375  0.009315
2024-08-28 -0.007860 -0.029750 -0.001123  0.003393  0.002024 -0.005668
2024-08-29  0.006119  0.005661  0.005721  0.008564  0.005135  0.018878

                  VZ       WMT
2019-08-30       NaN       NaN
2019-09-03 -0.002065  0.003320
2019-09-04  0.002409  0.011017
2019-09-05  0.007022 -0.004063
2019-09-06  0.007990 -0.006170
...              ...       ...
2024-08-23  0.008285  0.001586
2024-08-26  0.006772  0.004350
2024-08-27 -0.000965  0.001314
2024-08-28  0.000965 -0.000657
2024-08-29 -0.005801  0.004459

[1258 rows x 30 columns]

In [6]:
#using the apply function to get the expected return
#this is based off a function
def exp_log(x):
    return np.exp(x)-1

df_dow_returns = df_dow_log_returns.mean().apply(exp_log).to_frame()

df_dow_returns.columns=['Return']
df_dow_returns.index.name='Tickers'

df_dow_returns

           Return
Tickers
AAPL     0.001206
AMGN     0.000488
AMZN     0.000527
AXP      0.000668
BA      -0.000586
CAT      0.000953
CRM      0.000399
CSCO     0.000183
CVX      0.000356
DIS     -0.000326
DOW      0.000382
GS       0.000823
HD       0.000481
HON      0.000267
IBM      0.000529
INTC    -0.000577
JNJ      0.000306
JPM      0.000677
KO       0.000338
MCD      0.000309
MMM      0.000150
MRK      0.000402
MSFT     0.000910
NKE      0.000028
PG       0.000374
TRV      0.000434
UNH      0.000798
V        0.000360
VZ      -0.000058
WMT      0.000616

In [7]:
#daily risk
df_dow_risk = np.std(df_dow_log_returns, axis = 0).to_frame()

In [8]:
#cleaning data frame
df_dow_risk.columns= ['Risk']
df_dow_risk.index.name = 'Tickers'
df_dow_risk

             Risk
Tickers
AAPL     0.019944
AMGN     0.016084
AMZN     0.022303
AXP      0.023798
BA       0.032121
CAT      0.020350
CRM      0.024837
CSCO     0.017469
CVX      0.022549
DIS      0.021353
DOW      0.023026
GS       0.020402
HD       0.018334
HON      0.016977
IBM      0.016715
INTC     0.026961
JNJ      0.012518
JPM      0.020066
KO       0.013123
MCD      0.014789
MMM      0.018460
MRK      0.014805
MSFT     0.019080
NKE      0.021851
PG       0.013201
TRV      0.018600
UNH      0.018542
V        0.017477
VZ       0.013131
WMT      0.014033

In [9]:
#we join the two data frame together, note that we have to join on the indexes of each since that is the tickers
df_dow_temp = pd.merge(df_dow_returns, df_dow_risk, left_index = True, right_index= True)

In [10]:
#getting the covariance matrix
df_dow_covariance_matrix = df_dow_log_returns.cov()

In [11]:
df_dow_temp.head()

           Return      Risk
Tickers
AAPL     0.001206  0.019944
AMGN     0.000488  0.016084
AMZN     0.000527  0.022303
AXP      0.000668  0.023798
BA      -0.000586  0.032121

In [15]:
df_dow_covariance_matrix.iloc[0:5,0:5]

Tickers      AAPL      AMGN      AMZN       AXP        BA
Tickers
AAPL     0.000398  0.000129  0.000267  0.000217  0.000267
AMGN     0.000129  0.000259  0.000095  0.000122  0.000105
AMZN     0.000267  0.000095  0.000498  0.000169  0.000205
AXP      0.000217  0.000122  0.000169  0.000567  0.000487
BA       0.000267  0.000105  0.000205  0.000487  0.001033

In [12]:
df_dow_temp.to_csv(r'Data\df_dow_price.csv')

In [13]:

df_dow_covariance_matrix.to_csv(r'Data\df_dow_cov.csv')